.form {
  display: flex;
  border: solid 2px rgba(255, 255, 255, 0.2);
  flex-direction: column;
  padding: 2vw;
  border-radius: 10px;
  margin: 0.2em 1em 1em;

  transition: all 0.2s;
}

.form:hover {
  border: solid 2px rgba(255, 255, 255, 0.4);
}

.form label {
  font-size: 0.6em;
}

.form button {
margin-top: 1em;   
}

.formLabel {
  margin: 0;
}

.addrA {
  font-size: 0.6em;
  color: lightblue;
  margin-bottom: 0.4em;
}